<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.egms.mapper.UserMapper">
    <insert id="addUser">
        INSERT INTO users(user_id,user_name,password,sex,father_id,mate,birthday,introduction,role)
        VALUES (#{userId},#{userName},#{password},#{sex},#{fatherId},#{mate},#{birthday},#{introduction},#{role})
    </insert>
</mapper>